@import url(/style/index.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');
*{
    padding: auto;
    margin: auto;
}
h1{
    margin-right: 45%;
}
h5,time{
    font-size: var(--fuente-chica);
    font-family: var(--fuente-headline);
}
.cajon-chats{
    width: 45%;
    height: auto;
    margin:2% auto;
    border-radius: 8px;
    margin-bottom:8%; 
  
    background: rgb(24, 180, 159);

border: 1px solid rgb(24, 180, 159);
}
.cajaChat{
    width: 35%;
    height: 10%;
    background: rgb(67, 78, 77);
    
    border: 1px solid rgb(25, 190, 168);
    border-radius: 10px;
 
    margin-top: 11%;
    margin-bottom: 11%;
    box-shadow: 3px 3px 3px rgb(12, 136, 105);
    }
.cajon-chats .caja-chat{
    background-color: var(--color-blanco);
    width: 90%;
    height: 30%;
    margin:2% auto;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
    background: rgb(24, 180, 159);

    border: 1px solid rgb(24, 180, 159);

}
.ctn-chats .ctn-chat .ctn-img-chat{
    width:12%;
    height:8vh;
    border-radius: 50%;
}
.ctn-chat .ctn-img-chat img{
    width: 100%;
    height: inherit;
    border-radius:inherit;
}


.ctn-chats .ctn-chat .ctn-info-chat{
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ctn-chat .ctn-info-chat .ctn-nombre-usuario-chat{
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ctn-chat .ctn-info-chat .ctn-mensaje-chat{
    width: 100%;
    height: 6%;
    display:flex;
    align-content: center;
}
.ctn-info-chat .ctn-mensaje-chat .p-mensaje-char{
    width:90%;
    height: 5%;
    text-align: start;
}

.ctn-chats .ctn-chat .ctn-abrir-chat{
    width:10%;
    height: inherit;
    display: flex;
    align-content: center;
}
.ctn-chat .ctn-abrir-chat img{
    width:80%;
    height:4%;
    margin: auto;
}
/*Medida para table*/
@media screen and (min-width:768px) and (max-width:1023px){
    .ctn-chats{
        width:85%;
    }
    .ctn-info-chat .ctn-mensaje-chat .p-mensaje-char{
        font-size: var(--fuente-chica);
    }
}
/*Medida para movil*/
@media screen and (min-width:300px) and (max-width:767px){
    .ctn-chats{
        width:100%;
        margin-bottom:25%;
    }
    .ctn-chats .ctn-chat{
        width:95%;
        height:45%;
    }
    .ctn-chats .ctn-chat .ctn-img-chat{
        width: 15%;
    }
    .ctn-info-chat .ctn-mensaje-chat .p-mensaje-char{
     
        margin-top: -4%;
    }
}